
.social {
	position: fixed;
	left: 0; 
	top:450px; 
	z-index: 2000; 
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-google {background: #d95232;}
	.social ul li .icon-instagram {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
  
  
  .social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
  }
  
nav ul a,
nav .brand-logo {
  color: #000;
}
 
p {
  line-height: 2rem;
  text-align: center;
}


.sidenav-trigger {
  color: #95e0d8;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,1);
}
  .parallax-container .section {
    width: 100%;
    
  }
.fab {
margin-left: 200px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .fab {
    margin-left: 10x;
    }
  }
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .fab {
    margin-left: 0;
    }
.fluid{
text-align: center;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.page-footer {
  
  text-align: center;
  }


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
}

  